# Ignore these directories:
data/
_targets/
#renv/library
#renv/local
#renv/settings.dcf
#renv/staging
Intermediate/outputs
Intermediate/Processed_data_CSV
Intermediate/Reports/BN_Analysis.nb.html
Intermediate/Reports/miss_data_validation_report.html
Presentation/dis_boot_hc.RData
NotebooksAnalysis/
R/boot_bn_lean_mice.R
R/mice_imp_model.R
R/Install_packages.R

# ignore these files
#socioeconomics.Rproj
Dockerfile_singularity


# Ignore temporary files:
.DS_Store
.Rproj.user
